.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	gap: 50px;
}
.index-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.page-button {
	background-color: yellow;
	border-radius: 50%;
	color: black;
	padding: 10px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
}

.next-button {
	background: none;
	color: white;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	width: 150px;
	cursor: pointer;
	height: 40px;
	border: 2px solid white;
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.previous-button {
	@extend .next-button;
}
.previous-button:disabled,
.next-button:disabled,
.page-button:disabled {
	display: none;
}
@media (max-width: 767px) {
	.button-container {
		flex-direction: column;
		gap: 10px;
	}

	.page-button {
		width: 25px;
		height: 25px;
		gap: 0px;
		padding: 5px;
		font-size: 14px;
	}
	.next-button,
	.previous-button {
		width: 80px;
		height: 20px;
		font-size: 12px;
	}
}
