.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	padding: 50px;
}

.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
@media (max-width: 768px) {
	.card-container {
		grid-template-columns: 1fr 1fr 1fr;
		padding: 0px;
	}
}
@media (min-width: 320px) and (max-width: 480px) {
	.card-container {
		grid-template-columns: 1fr;
		padding: 0px;
	}
}
