@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
	background-color: #130d0d;
	font-family: 'Roboto', sans-serif;
	color: white;
}
.submit-button {
	padding: 0px 18px;
	/* border-top-right-radius: 9px; */
	border: 2px solid blue;
	border-radius: 20px;
	height: 50px;
	background-color: transparent;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
	color: white;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.form-section {
	display: flex;
	justify-content: center;
	align-items: center;
}
.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50%;
}
